<?php

/*	Site Logon Variables 
	Username and password to allow access to site
*/

$user_name = 'myusername';
$pass_word = 'supersecretpassword';

//	Cookie Duration in days
$cookie_duration = 90; 


/*	Database Variables 

	'driver' = connection type
	
		For MySQL use driver = 'mysql'
		For ODBC  use driver = 'odbc'
		
		* When opting for ODBC use correct DSN!    *
		* Example: "MariaDB ODBC 3.0 Driver"       *
		* Example: "MySQL ODBC 5.3 Unicode Driver" *
		* Exact spelling is critical!              *
	
*/

$Database = array (
	'host'        => 'localhost',
	'username'    => 'hmailserver',
	'password'    => 'supersecretpassword',
	'dbname'      => 'hmailserver',
	'tablename'   => 'hm_ids',
	'driver'      => 'mysql',
	'port'        => '3306',
	'dsn'         => 'MariaDB ODBC 3.1 Driver'
);


/*  Pagination 
	Number of records per page
*/

$no_of_records_per_page = 20;


/*  GeoIP 

	*** $useGeoIP ***
	Bool switch to enable more dials, charts and stats if your IDS table also collects country 
	name information.

	*** $countryColumnName ***
	The name of the db column containing geoip country name

	*** $allowedCountries ***
	List of countries allowed to connect to your hMailServer. If you do not block by geoip, then
	use your home country. This feature separates two dials for allowed and banned countries. At 
	least one country is required!!! 
	Check Alpha-2 Code here -> https://en.wikipedia.org/wiki/ISO_3166-1
*/

$useGeoIP = true;
$countryColumnName = "country";
$allowedCountries = array('US','CA','AT','BE','CH','CZ','DE','DK','ES','FI','FR','GB','GL','GR','HR','HU','IE','IS','IT','LI','MC','NL','NO','PL','PT','RO','RS','SE','SI','SK','SM','AU','NZ','KR');

?>